
/* create css varible */

:root {
    --scale: 0.4;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: calc(200px * var(--scale));
	height: calc(100px * var(--scale));
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: calc(5px * var(--scale));
	left: calc(5px * var(--scale));
	width: calc(90px * var(--scale));
	height: calc(90px * var(--scale));
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - calc(5px * var(--scale)));
	transform: translateX(-100%);
}

label:active:after {
	width: 60%;
}

