@font-face {
    font-family: ShinGo;
    src: url("ShinGo/AOTFShinGoProRegular.otf") format("opentype");
}

@font-face {
    font-family: ShinGo;
    src: url("ShinGo/AOTFShinGoProBold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: ShinGo;
    src: url("ShinGo/AOTFShinGoProMedium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: ShinGo;
    src: url("ShinGo/AOTFShinGoProLight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: ShinGo;
    src: url("ShinGo/AOTFShinGoProExLight.otf") format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: ShinGo;
    src: url("ShinGo/AOTFShinGoProDeBold.otf") format("opentype");
    font-weight: bolder;
}






